# Ignore everything by default
/*

# Allow git core files
!.gitignore
!README.md

# Allow wp-content only
!app/
app/*
!app/public/
app/public/*
!app/public/wp-content/
!app/public/wp-content/**

# Inside wp-content, ignore heavy/generated stuff
app/public/wp-content/uploads/
app/public/wp-content/cache/
app/public/wp-content/upgrade/
app/public/wp-content/backups/
